@import "./variable.scss";
@import "./media.scss";

footer {
  // background: #1a144a;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  // background: linear-gradient(#130a2a 0%, #1c0b47 100%);
  border-top: 1px solid #e0e0e000;

  >.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 45px 15px 35px;

    >.grid {
      display: grid
      ;
      align-items: center;
      justify-content: center;
     

  
      >.nav__btns {
          justify-self: center;
          display: flex;
          align-items: center;
          gap: 15px;
          margin: 10px 0;
      
          a:nth-child(1) {
            svg {
              width: 30px;
            }
          }
      
          a:nth-child(2) {
            svg {
              width: 25px;
            }
          }
      
          a:nth-child(3) {
            svg {
              width: 25px;
            }
          }
      
          a:nth-child(4) {
            svg {
              width: 25px;
            }
          }
      
          a:nth-child(4) {}
      
          a:nth-child(5) {
         
          }
      
      
      
        }

      p {

        text-align: center;
        color: #fff;
        font-weight: 100;
        font-size: 16px;
       
     opacity: .9;
      }
    }
  }
}