@import "./variable.scss";
@import "./media.scss";

.center {
  .nft {
    // background-image: url(../../public/images/gradient.png);
    filter: unset !important;
    -webkit-filter: unset !important;
    transition: .3s all;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -ms-transition: .3s all;
    -o-transition: .3s all;
  }
}

.BannerSlider {
  padding: 30px 10px;
  position: relative;
  overflow: hidden;
  background: #1b1b23;



  .vid {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    z-index: -1;
  }

  .heading {
    h2 {
      line-height: 100%;
      font-weight: 700;
      line-height: 118%;
      text-transform: uppercase;
      text-align: center;
      position: relative;
      font-size: clamp(3rem, 5vw, 6rem);
      color: #fff;
      font-family: 'Orbitron';
    }

    p {
      text-align: center;
      width: 50%;
      margin-bottom: 80px;
      margin: 15px auto 30px;
      font-size: 18px;
      font-weight: 100;
      line-height: 1.2;
      // opacity: .5;

      @include md {
        width: 90%;
      }
      @include md {
        font-size: 14px;
        line-height: 1.3;
      }
    }
  }

  .container {
    text-align: center;
    margin: 49px auto 100px;

    video {
      width: 70%;

      @include md {
        width: 100%;
      }
    }

    .nft {
      padding: 18px 10px;


      position: relative;

      // filter: grayscale(100%) brightness(2%);
      // -webkit-filter: grayscale(100%) brightness(2%);
      img {
        width: 300px;
      }

      &::before {
        content: '';
        // background-image: url(../../public/images/gradient.png);
        position: absolute;
        top: 0;
        background-size: contain;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;


      }
    }
  }
}




.swiper-3d .swiper-slide-shadow-left {
  background-image: none !important;
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: none !important;
}