@import "./variable.scss";
@import "./media.scss";

header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  transition: 0.3s all;
  position: fixed;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000 100%);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    text-align: center;
    font-size: 1.5rem;
    font-family: "Kaulen" !important;

    span {
      font-size: 1.5rem;
      font-family: "Kaulen" !important;
    }
  }

  .outer {
    width: 100%;
    .container {
      max-width: 1200px;
      margin: 0 auto;

      .nav__grid {
        display: grid;
        grid-template-columns: 3fr 1.6fr;
        align-items: center;
        @include mobile {
          padding: 18px 0px;
        }

        @include lg {
          padding: 0px 10px;
        }

        .logo {
          justify-self: start;
          display: none;
          a {
            display: flex;
            img {
              padding: 10px 0;
              max-width: 55px;
            }
          }
        }

        nav {
          display: flex;
          justify-content: start;
          align-items: center;

          @include lg {
            margin: 0;
          }

          ul {
            display: flex;
            justify-content: center;
            list-style: none;

            li.nav__links {
              @include -lg {
                display: none;
              }

              display: flex;
              gap: 5px;
              justify-content: center;
              a.tiktok {
                svg {
                  width: 20px !important;
                  height: 20px !important;
                }
              }
              svg {
                width: 30px;
                height: 30px;
              }
            }

            > li {
              padding: 0 5px;
              margin-right: 5px;
              position: relative;
              transition: 0.3s all;
              font-size: 18px;
              transition: 0.1s all;
              position: relative;
              &::before {
                content: "";
                background: #fff;
                height: 3px;
                width: 0%;
                position: absolute;
                bottom: -3%;
                left: 50%;
                transform: translateX(-50%);
                transition: 0.3s all;
              }
              &:hover::before {
                width: 60%;
              }
              > a {
                transition: 0.2s all;
                line-height: 1.5em;
                position: relative;
                z-index: auto;
                background-position: center 0;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                border-radius: 4px;
                padding: 6px 12px;
                font-weight: 500;
                text-transform: uppercase;
             

                @include lg {
                  font-size: clamp(3em, 8vw, 4em);
                  font-weight: 900;
                  line-height: 1;
                  font-family: unset;
                }
              }
            }
          }
        }

        > .nav__btns {
          justify-self: end;
          display: flex;
          align-items: center;
          gap: 15px;
          margin: 10px 0;
          svg {
            width: 30px;
            // height: 30px;
            fill: white;
          }
        }
      }
    }
  }
}

.modal- {
  position: fixed;
  top: 50%;
  left: 50%;
  background: #607d8b;
  padding: 40px 0px 20px 0px;
  border-radius: 0px;
  transition: 0.3s transform, opacity 0.3s;
  transition-timing-function: ease-out;
  z-index: 1111;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  max-width: 350px;
  width: 100%;
  height: 200px;
  display: grid;
  place-content: center;

  box-shadow: 0 0 10px #00000080;

  > svg {
    position: fixed;
    cursor: pointer;
    top: 20px;
    right: 5%;
  }

  p {
    font-size: 25px;
    width: 80%;
    margin: auto;
    text-align: center;
    font-weight: 900;
    margin-bottom: 15px;
    line-height: 1.3;
  }

  .ico {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      transform: scale(3);
      margin-bottom: 30px;
    }
  }

  .warn {
    svg {
      fill: #f1c40f;
    }
  }

  .info {
    svg {
      fill: #3498db;
    }
  }

  .error {
    svg {
      fill: #e74c3c;
    }
  }

  .success {
    svg {
      fill: #07bc0c;
    }
  }
}

.shadow- {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #00000057;
  height: 100%;
  z-index: 1110;
  cursor: pointer;
}

.nav__active {
  // background: #0243c3;
  // background: #040b11;
  // backdrop-filter: blur(1px);
  box-shadow: 0 0 5px #00d0ff7a;

  // border-bottom: 2px solid #00d1ff;
}

.auto_scroll {
  position: fixed;
  bottom: 5%;
  right: 5%;
  cursor: pointer;
  transition: 0.3s all;
  z-index: 1001;
  transform: scale(0);
  border-radius: 100px;
  overflow: hidden;
  > svg {
    width: 50px;
    background: #05243d;
    height: 50px;
    place-content: center;
    pointer-events: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 1px solid #dbd9e01f;
    padding: 15px;
    fill: #fff;
    font-weight: 900;
  }
}

@media (min-width: 992px) {
  header {
    .nav__grid {
      .nav__btns {
        > i {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 0) and (max-width: 992px) {
  header {
    .nav__grid {
      grid-template-columns: 1fr 1.5fr !important;

      .logo {
      }

      nav {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 100;
        height: 100vh;
        right: -100%;
        overflow: hidden;
        justify-content: center !important;
        background: rgb(4, 17, 29);
        transition: all 400ms ease 0s;

        ul {
          flex-direction: column;

          padding: 15px 10px;
          font-size: 1.4rem;

          li {
            margin-right: unset;
            margin-bottom: 15px;
          }
        }
      }

      .nav__btns {
        > div {
          cursor: pointer;
          height: 48px;
          position: absolute;
          transition: all 0.4s cubic-bezier(0, 0, 0, 1) 0s;
          -webkit-user-select: none;
          user-select: none;
          width: 48px;
          outline: none;
          transform: none;
          right: 2.1%;
          z-index: 1111;
          top: 14%;

          > span {
            &:nth-child(1) {
              background: #fff;
              height: 4px;
              left: 8px;
              position: absolute;
              width: 38px;
              top: 13px;
              transition: all 0.4s cubic-bezier(0, 0, 0, 1) 0s;
              transform: none;
            }

            &:nth-child(2) {
              background: #fff;
              height: 4px;
              left: 8px;
              position: absolute;
              width: 38px;
              top: 23px;
              transition: all 0.4s cubic-bezier(0, 0, 0, 1) 0s;
              opacity: 1;
            }

            &:nth-child(3) {
              background: #fff;
              height: 4px;
              left: 8px;
              position: absolute;
              width: 38px;
              top: 33px;
              transition: all 0.4s cubic-bezier(0, 0, 0, 1) 0s;
              transform: none;
            }
          }
        }
      }
    }
  }
}
