@import "./variable.scss";
@import "./media.scss";

.roadmap {
  padding: 120px 5px 120px;
  position: relative;
  background-position: center center;
  // background: #09213880;
  @include md {
    overflow: hidden;
  }

  .heading {
    z-index: 2;
    position: relative;
    h1 {
      font-size: 3.5rem;
      line-height: 100%;
      font-weight: 700;
      line-height: 118%;
      text-transform: uppercase;
      text-align: center;
      position: relative;
     
      font-size: clamp(4rem, 6vw, 6rem);
      color: #fff;
      font-family: "Exo 2";
    }

    p {
      text-align: center;
      width: 70%;
      margin-bottom: 80px;
      margin: 15px auto 30px;
      font-size: 18px;
      font-weight: 100;
      letter-spacing: 1px;
      line-height: 1.2;

      @include md {
        font-size: 16px;
        width: 80%;
      }
    }
  }

  @include md {
    padding: 15px 0;
  }

  .container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 10px;
    position: relative;
    z-index: 3;
    .roadmap__grid {
      padding: 20px 30px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 2rem;
      grid-column-gap: 8rem;
      margin-top: 50px;

      &::before {
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background: url(../../public/images/roadmap-tree.296ce3fe-removebg-preview.png)
          no-repeat top center;
          @include md{
            content: unset;
          }
      }

      .item {
        background: transparent;
        border-radius: 32px;
        padding: 30px 40px;
        box-shadow: none;
        position: relative;
        // background: linear-gradient(180deg, #2196f333 0%, #03a9f41a 100%);
        width: 100%;
        height: max-content;
        &:nth-child(even) {
          justify-self: start;
          margin-top: 100px;
        }
        &:nth-child(odd) {
          justify-self: end;
          h2 {
            text-align: end;
          }
          ul {
            li {
              text-align: end;
            }
          }
        }
        &::after {
          // content: "";
          position: absolute;
          top: 50%;
          left: 18px;
          width: 25px;
          height: 25px;
          background: #031723;
          transform: translateX(-25px) translateY(-50%) rotate(45deg);
          border-radius: 2px;
        }

        span:nth-child(1) {
          position: absolute;
          right: 11%;
          top: 3px;
          font-size: 5rem;
          font-weight: 900;
          opacity: 0.3;
          z-index: 1;
          color: #170029;
        }

        span:nth-child(2) {
          position: absolute;
          right: 11%;
          top: 12px;
          font-size: 4rem;
          font-weight: 900;
          opacity: 1;
          color: #a076f6bd;

          z-index: 2;
        }

        h2 {
            line-height: 30px;
              letter-spacing: 0.02em;
              text-transform: uppercase;
              color: #0096b8;
              font-style: normal;
              position: relative;
              font-size: 2rem;
              font-weight: 800;
              margin-bottom: 10px;
              text-shadow: 0px 0px 1px #1277c7;

          &:before {
            content: "";
            position: absolute;
            background: transparent;
            width: 15px;
            height: 15px;
            transform: rotate(360deg) translateX(-52%);
            top: -181%;
            left: -64px;
            border-radius: 2px;
          }
        }

        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          text-align: start;
          gap: 5px;
          position: relative;
          list-style: none;
          margin-top: 20px;
          li {
            line-height: 1.2;
            letter-spacing: 0px;
            word-spacing: 0px;
            font-weight: 300;
            list-style: none;
            margin-left: 4px;
          }
        }

        .detail {
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 100%;
          justify-content: center;

          > h2 {
            font-weight: 500;
            margin-bottom: 5px;

            color: #f364f0;
            font-size: 2rem;
            font-weight: 800;
            filter: drop-shadow(2px 6px 4px #00000087);
          }

          > h4 {
            color: #ccc;
            font-weight: 400;
            margin-bottom: 15px;
          }
        }
      }
      .no2{
        transform: translateY(40px);
      }
      .no1{
        transform: translateY(10px);
      }
      .no3{
        transform: translateY(-20px);
      }
      .no4{
        transform: translateY(5px);
      }
      .no5{
        transform: translateY(-50px);
      }
    }
  }
}

.owl-carousel .owl-stage-outer {
  position: relative;
  padding: 15px 0 !important;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
