@import "./variable.scss";
@import "./media.scss";

.steps {
  padding: 100px 10px;
  position: relative;
  z-index: 5;
  margin-top: 90px;
  &::before {
    content: "";
    background: url(../../public/images/background/land-bg.4e7c74f0.jpg)
      no-repeat center center;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    filter: hue-rotate(317deg) brightness(1);
    opacity: 0.9;
  }
  &::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    background: linear-gradient(0deg, transparent, #000);
    z-index: -1;
    right: 0;
    height: 20%;
  }
  > span {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(0deg, #000, transparent);
    z-index: -1;
    right: 0;
    height: 20%;
  }
  > .container {
    max-width: 1200px;
    padding: 70px 50px;
    margin: auto;
    background: linear-gradient(180deg, #2196f333 0%, #03a9f41a 100%);
    border: 1px solid #0085ff2e;
    border-radius: 32px;
    > .heading {
      margin-bottom: 80px;
      h1 {
        position: relative;
        font-size: 4rem;
        font-weight: 100;
        color: #ffff;
        text-transform: uppercase;
        display: block;
        line-height: 1;
        padding: 0;
        margin: 0 auto 40px;
        text-align: center;
        font-size: clamp(4rem, 5vw, 5rem);
      }
    }

    > .first {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem;
      margin-bottom: 50px;
      background: linear-gradient(180deg, #2196f333 0%, #03a9f41a 100%);
      padding: 20px 30px;
      border-radius: 32px;
      align-items: center;
      .start {
        h2 {
          font-size: 2rem;
          margin: 10px 0;
        }
        p {
          span {
            display: block;
            margin-bottom: 5px;
            line-height: 1.3;
            opacity: 0.8;
          }
        }
      }
      .end {
        text-align: end;
        figure {
          width: 80%;
          margin-left: auto;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    > .second {
      background: linear-gradient(180deg, #2196f333 0%, #03a9f41a 100%);
      padding: 20px 30px;
      border-radius: 32px;
      > h2 {
        font-size: 2rem;
        margin: 10px 0;
      }

      > p {
        margin-bottom: 30px;
        width: 80%;
        span {
          display: block;
          margin-bottom: 5px;
          opacity: 0.8;
          line-height: 1.3;
        }
      }
      .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1rem;

        .item {
          padding: 35px 35px 25px 35px;
          background: linear-gradient(180deg, #2196f333 0%, #03a9f41a 100%);
          border-radius: 12px;
          border: 1px solid #0085ff2e;
          transition: 0.3s all;
          cursor: pointer;

          &:hover {
            box-shadow: 0 0 5px #0085ffa1;
          }

          .top {
            align-items: center;
            margin-bottom: 10px;
            display: grid;
            grid-template-columns: 50px auto;
            grid-gap: 8px;

            img {
              width: 45px;
              height: 45px;
            }

            span {
              color: white;
              font-size: 22px;
              font-family: "BakbakOneRegular";
              font-family: "Barlow-medium";
            }
          }

          p {
            font-size: 18px;
            line-height: 1.3;
            font-weight: 300;
          }
        }
      }
    }
    > .third {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem;
      margin-bottom: 50px;
      background: linear-gradient(180deg, #2196f333 0%, #03a9f41a 100%);
      padding: 20px 30px;
      border-radius: 32px;
      align-items: center;
      margin-top: 50px;
      .start {
        h2 {
          font-size: 2rem;
          margin: 10px 0;
        }

        p {
          span {
            display: block;
            margin-bottom: 5px;
            line-height: 1.3;
            opacity: 0.8;
          }
        }
      }

      .end {
        text-align: end;

        figure {
          width: 80%;
          margin-left: auto;

          img {
            width: 100%;
            height: 300px;
            object-fit: contain;
          }
        }
      }
    }
    > .fourth {
      background: linear-gradient(180deg, #2196f333 0%, #03a9f41a 100%);
      padding: 40px 30px;
      border-radius: 32px;
      .heading {
        margin-bottom: 30px;

        h1 {
          font-size: 3rem;
          margin: 10px 0;
          text-transform: capitalize;
        }

        p {
          display: block;
          margin-bottom: 5px;
          line-height: 1.3;
          opacity: 0.8;
        }
      }

      .grid {
        display: grid;
        grid-gap: 1rem;

        .first {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 1rem;

          input {
            display: block;
            width: 100%;
            min-width: 100%;
            border: 2px solid #034981;
            border-radius: 5px;
            background-color: transparent !important;
            outline: 0;
            color: #fff;
            padding: 20px 15px;

            &:focus {
              border: 1px solid #0084ffe7;
              box-shadow: 0 0 5px #0085ff2e;
            }
          }
        }

        .second {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 1rem;

          input {
            display: block;
            width: 100%;
            min-width: 100%;
            border: 2px solid #034981;
            border-radius: 5px;
            background-color: transparent !important;
            outline: 0;
            color: #fff;
            padding: 20px 15px;

            &:focus {
              border: 1px solid #0084ffe7;
              box-shadow: 0 0 5px #0085ff2e;
            }
          }
        }

        .third {
          textarea {
            display: block;
            width: 100%;
            min-width: 100%;
            border: 2px solid #034981;
            border-radius: 5px;
            background-color: transparent !important;
            outline: 0;
            color: #fff;
            padding: 20px 15px;

            &:focus {
              border: 1px solid #0084ffe7;
              box-shadow: 0 0 5px #0085ff2e;
            }
          }
        }

        button {
          color: #000000;
          padding: 16px 24px;
          border-radius: 15px;
          font-size: 18px;
          font-weight: 600;
          border: none;
          cursor: pointer;
          position: relative;
          background: #0085ff;
          overflow: hidden;
          z-index: 111;
          transition: all 0.3s;
          width: auto;
          pointer-events: auto;
          color: #eee;
          width: fit-content;
          margin-top: 10px;

          width: 150px;

          &:hover {
            box-shadow: 0px 0px 10px #1277c7;
          }
        }

        > p {
          display: flex;
          align-items: center;
          gap: 5px;
          color: #ccc;
          padding: 10px;
        }
      }
    }
    > .fifth {
        background: linear-gradient(180deg, #2196f333 0%, #03a9f41a 100%);
            padding: 40px 30px;
            border-radius: 32px;
            margin-top: 50px;
      .heading {
        text-align: center;

        h1 {
          font-size: 2.5rem;
          line-height: 100%;
          font-weight: 700;
          line-height: 118%;
          text-transform: uppercase;
          text-align: center;
          position: relative;
          font-size: clamp(4rem, 4vw, 4rem);
          font-family: "Exo 2";
        }

        p {
          text-align: center;
          width: 80%;
          margin-bottom: 80px;
          margin: 15px auto 30px;
          font-size: 18px;

          line-height: 1.4;

          @include md {
            width: 90%;
          }
        }

    .btn__container{
        display: flex;
        justify-content: center;
        gap: 10px;
            button {
                    height: 45px;
                        border-radius: 100px;
                        color: #fff;
                        border: 3px solid #0085ff;
                        background: #0085ff;
                        cursor: pointer;
                        text-transform: uppercase;
                        justify-self: self-end;
                        transition: .3s all;
                        padding: 0px 40px;
                        font-size: 20px !important;
                }
    }
      }
    }
  }
}
